extends ../layout/main

block content
  .index-page
    div#snake-field
    <div class="buttons">
        <div class="button" id="snake-start">Старт</div>
        <div class="button" id="snake-renew">Новая игра</div>
        <div class="button" id="score">Счёт: 0</div>
    </div>






